* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #FCDF00;
}

body {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px 3vw;
    border: solid 1px black;
    border-top: 0px;
    font-size: 1.3em;
    text-align: justify;
}

header {
    background-image: linear-gradient(135deg, rgb(11, 119, 192), rgb(19, 20, 70));
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    contain: size;
    
}
header nav ul a{
    text-decoration: none;
}
header nav ul li{
    background-color: #A31A1A;
    padding: 10px 15px;
    color: black;
    text-align: center;
    min-width: 30px;
    box-sizing: border-box;
}

main{
    padding: 5px;
    padding-top: 80px;
}

footer{
    display: flex;
    background-image: linear-gradient(225deg, rgb(11, 119, 192), rgb(19, 20, 70));
    font-size: .8em;
    justify-content: flex-end;
}
footer a{
    margin: 0px 10px;
    color: black;
}